{% extends 'base.tpl.html' %}
{% set api_key = current_user._api_key | replace("'", '') | replace ('b', '') %}
{% block sidebar %}
    <div class="col-lg-2">
        <div class="well">
            <ul class="raider-nav nav nav-pills nav-stacked text-center">
                <li class="list-group-item"><a href="/">Back</a></li>
            </ul>
        </div>
        <div class="alert alert-info text-center" role="alert">
            Your personal API key:
            <code>{{ api_key }}</code>
        </div>
        <div class="alert alert-danger text-center">
            <h4>Warning, this will instantly decay all users</h4>
            <form class="api-form" action="/api/decay/all" method="post" data-toast="Decaying guild">
                <input type="hidden" name="api-key" style="visibility: hidden" value="{{ api_key }}">
                <button class="btn btn-danger" style="width: 100%;">Decay</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block content -%}
    <div class="col-lg-6">
        <form class="api-form" action="/api/import" method="POST" data-toast="Importing Data">
            <textarea name="json-data" id="import-text" cols="30" rows="10" placeholder="Paste Data Here"
                      class="form-control" spellcheck="false"></textarea>
            <button class="btn align-right">Submit</button>
            <input type="hidden" name="api-key" value="{{ current_user.api_key }}" style="visibility: hidden;">
        </form>
    </div>
{% endblock %}
