{% extends 'base.tpl.html' %}
{% block content %}
    <div class="col-lg-6">
        <table class="table table-bordered">
            <tr>
                <th>Suggestion</th>
                <th></th>
            </tr>
            {% for suggestion in suggestions %}
                <tr>
                    <td style="width: 99%"><p>{{ suggestion.body }}</p></td>
                    <td>
                        <form action="/api/suggest/delete" method="post">
                            <input type="hidden" name="suggestion-id" id="suggestion-id" value="{{ suggestion._id }}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
